* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 2rem auto;
    text-transform: uppercase;
}

ul {
    background-color: gainsboro;
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px;
    width: 40vw;
    padding-left: 40px;;
    
}

li {
    list-style: square;
    padding: 10px;
}

a {
    text-decoration: none;
    color: orangered;
    font-size: 24px;
}

a:hover {
    color: purple;
}